@{
    ViewData["Title"] = "Home";
}

<div class="d-flex justify-content-center align-items-center" style="height:40vh;">
    <div class="text-center">

        <h1 class="mb-4">Welcome to Sports Managment!</h1>

        <a asp-controller="Home" asp-action="Page1" class="btn btn-primary btn-lg">
            Enter
        </a>

    </div>
</div>