
@model SportsApp2.Models.Login
@{
    Layout = null;
    ViewData["Title"] = "Login";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sports Managment -Login</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
            body, h1, h2, h3, h4, h5, h6 {
                font-family: "Raleway", sans-serif;
            }
    </style>
   
</head>
<body>
    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-collapse  w3-animate-left" style="z-index:3;width:300px; background-color:#e6eff9;" id="mySidebar">
        <br>
        <div class="w3-container">
            <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
                <i class="fa fa-remove"></i>
            </a>
            <img src="~/logo.png" alt=Logo style="width:45%; " class="w3-round"><br><br>
                <h4><b>Sports Management</b></h4>

            </div>
            <div class="w3-bar-block">
                <a asp-controller="Home" asp-action="NFLPage1" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-th-large fa-fw w3-margin-right"></i>HOME</a>
                <a asp-controller="Home" asp-action="User" onclick="w3_close()" class="w3-bar-item w3-button w3-padding" style="color:#2694e1;"><i class="fa fa-user fa-fw w3-margin-right"></i>USER</a>
                <a asp-controller="Home" asp-action="Contact" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-envelope fa-fw w3-margin-right"></i>CONTACT</a>
                <a asp-controller="Home" asp-action="UpcomingEventsHTML" onclick="w3_close()" class="w3-bar-item w3-button w3-padding">
                    <i class="fa fa-calendar fa-fw w3-margin-right"></i>UPCOMING EVENTS
                </a>

            </div>
            <div class="w3-panel w3-large">
                <i class="fa fa-facebook-official w3-hover-opacity"></i>
                <i class="fa fa-instagram w3-hover-opacity"></i>
                <i class="fa fa-snapchat w3-hover-opacity"></i>
                <i class="fa fa-pinterest-p w3-hover-opacity"></i>
                <i class="fa fa-twitter w3-hover-opacity"></i>
                <i class="fa fa-linkedin w3-hover-opacity"></i>
            </div>
        </nav>

        <!-- Overlay effect when opening sidebar on small screens -->
        <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

        <div class="main-content">
            <div class="login-container">
                <div class="login-card">
                    <div class="login-header">
                        
                            <h1>Sign In</h1>
                            <p>Continue to your sports</p>
                        </div>
            
                        <form asp-action="Login" asp-controller="Home" method="post" class="login-form" id="loginForm">
                            @Html.AntiForgeryToken()

                            <div asp-validation-summary="All" class="text-danger"></div>

                            <div class="form-group">
                                <label asp-for="Email"></label>
                                <input asp-for="Email" class="form-control" autocomplete="email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Password"></label>
                                <div class="password-wrapper">
                                    <input asp-for="Password" class="form-control" autocomplete="current-password" />
                                </div>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                            <div class="form-options">
                                <a asp-controller="Home" asp-action="ForgotPassword">Forgot Password</a>
                            </div>

                            <button type="submit" class="login-btn">
                                <span class="btn-text">Sign In</span>
                            </button>
                        </form>

                        <div class="divider">
                          </div>

                        <div class="signup-link">
                            <p>Don't have an account? <a asp-controller="Home" asp-action="CreateAccount">Sign up free</a></p>
                        </div>

                        <div class="success-message" id="successMessage">
                            <div class="success-icon">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <circle cx="12" cy="12" r="12" fill="#1DB954" />
                                    <path d="M9 12l2 2 4-4" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </div>
                            <h3>Welcome back!</h3>
                            <p>Redirecting to your sports...</p>
                        </div>
                    </div>
                </div>
            </div>
            <footer style="margin-top:auto;">

                <!-- Top footer -->
                <div style="background:#011d4a; color:white; padding:25px 30px; text-align:center;">
                    <p style="font-size:14px; line-height:1.6; margin:0;">
                        Gambling problem? Call 1-800-GAMBLER. Please gamble responsibly. Terms and eligibility restrictions apply.
                    </p>

                    <p style="margin-top:15px; margin-bottom:0;">
                        © 2026 Sports Application, LLC. All rights reserved.
                    </p>
                </div>

                <!-- Bottom footer -->
                <div style="background:black; color:white; padding:15px 30px; text-align:center;">
                    <h5 style="margin-top:0;">Sports Application</h5>
                    <p style="margin:5px 0;">
                        <a href="mailto:sportsapplication206@gmail.com" style="color:white;">
                            sportsapplication206@gmail.com
                        </a>
                    </p>
                </div>

            </footer>

 
            <script src="~/js/site.js" asp-append-version="true"></script>

        </body>
    </html>
