<!-- First Photo Grid-->
<div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
        <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="14">
            <img src="~/Magic.png" alt="Magic" style="width:100%" class="w3-hover-opacity">
            </a>
            <div class="w3-container w3-white">
                <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="14" style="text-decoration:none; color:black;">
                    <p><b>Orlando Magic</b></p>
                </a>
                <p>SOUTHEAST</p>
            </div>
        </div>

        <div class="w3-third w3-container w3-margin-bottom">
            <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="15">
                <img src="~/Wizards.png" alt="Wizards" style="width:100%" class="w3-hover-opacity">
                </a>
                <div class="w3-container w3-white">
                    <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="15" style="text-decoration:none; color:black;">
                        <p><b>Washington Wizards</b></p>
                    </a>
                    <p>SOUTHEAST</p>
                </div>
            </div>

            <div class="w3-third w3-container w3-margin-bottom">
                <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="16">
                    <img src="~/Warriors.png" alt="Warriors" style="width:100%" class="w3-hover-opacity">
                    </a>
                    <div class="w3-container w3-white">
                        <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="16" style="text-decoration:none; color:black;">
                            <p><b>Golden State Warriors</b></p>
                        </a>
                        <p>PACIFIC</p>
                    </div>
                </div>
            </div>

            <div class="w3-row-padding">
                <div class="w3-third w3-container w3-margin-bottom">
                    <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="17">
                        <img src="~/Clippers.png" alt="Clippers" style="width:100%" class="w3-hover-opacity">
                        </a>
                        <div class="w3-container w3-white">
                            <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="17" style="text-decoration:none; color:black;">
                                <p><b>Los Angeles Clippers</b></p>
                            </a>
                            <p>PACIFIC</p>
                        </div>
                    </div>

                    <div class="w3-third w3-container w3-margin-bottom">
                        <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="18">
                            <img src="~/Kings.png" alt="Kings" style="width:100%" class="w3-hover-opacity">
                            </a>
                            <div class="w3-container w3-white">
                                <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="18" style="text-decoration:none; color:black;">
                                    <p><b>Sacramento Kings</b></p>
                                </a>
                                <p>PACIFIC</p>
                            </div>
                        </div>

                        <div class="w3-third w3-container w3-margin-bottom">
                            <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="19">
                                <img src="~/Suns.png" alt="Suns" style="width:100%" class="w3-hover-opacity">
                                </a>
                                <div class="w3-container w3-white">
                                    <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="19" style="text-decoration:none; color:black;">
                                        <p><b>Phoenix Suns</b></p>
                                    </a>
                                    <p>PACIFIC</p>
                                </div>
                            </div>
                        </div>

                        <div class="w3-row-padding">
                            <div class="w3-third w3-container w3-margin-bottom">
                                <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="20">
                                    <img src="~/lakers.png" alt="Lakers" style="width:100%" class="w3-hover-opacity">
                                    </a>
                                    <div class="w3-container w3-white">
                                        <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="20" style="text-decoration:none; color:black;">
                                            <p><b>Los Angeles Lakers</b></p>
                                        </a>
                                        <p>PACIFIC</p>
                                    </div>
                                </div>

                                <div class="w3-third w3-container w3-margin-bottom">
                                    <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="21">
                                        <img src="~/Spurs.png" alt="Spurs" style="width:100%" class="w3-hover-opacity">
                                        </a>
                                        <div class="w3-container w3-white">
                                            <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="21" style="text-decoration:none; color:black;">
                                                <p><b>San Antonio Spurs</b></p>
                                            </a>
                                            <p>SOUTHWEST</p>
                                        </div>
                                    </div>

                                    <div class="w3-third w3-container w3-margin-bottom">
                                        <!-- PAGE 6 -->

                                        <div class="w3-row-padding">

                                            <!-- Orlando Magic -->
                                            <div class="w3-third w3-container w3-margin-bottom">
                                                <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="14">
                                                    <img src="~/Magic.png" alt="Magic" style="width:100%" class="w3-hover-opacity">
                                                    </a>
                                                    <div class="w3-container w3-white">
                                                        <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="14" style="text-decoration:none; color:black;">
                                                            <p><b>Orlando Magic</b></p>
                                                        </a>
                                                        <p>SOUTHEAST</p>
                                                    </div>
                                                </div>

                                                <!-- Wizards -->
                                                <div class="w3-third w3-container w3-margin-bottom">
                                                    <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="15">
                                                        <img src="~/Wizards.png" alt="Wizards" style="width:100%" class="w3-hover-opacity">
                                                        </a>
                                                        <div class="w3-container w3-white">
                                                            <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="15" style="text-decoration:none; color:black;">
                                                                <p><b>Washington Wizards</b></p>
                                                            </a>
                                                            <p>SOUTHEAST</p>
                                                        </div>
                                                    </div>

                                                    <!-- Warriors -->
                                                    <div class="w3-third w3-container w3-margin-bottom">
                                                        <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="16">
                                                            <img src="~/Warriors.png" alt="Warriors" style="width:100%" class="w3-hover-opacity">
                                                            </a>
                                                            <div class="w3-container w3-white">
                                                                <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="16" style="text-decoration:none; color:black;">
                                                                    <p><b>Golden State Warriors</b></p>
                                                                </a>
                                                                <p>PACIFIC</p>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="w3-row-padding">

                                                        <!-- Clippers -->
                                                        <div class="w3-third w3-container w3-margin-bottom">
                                                            <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="17">
                                                                <img src="~/Clippers.png" alt="Clippers" style="width:100%" class="w3-hover-opacity">
                                                                </a>
                                                                <div class="w3-container w3-white">
                                                                    <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="17" style="text-decoration:none; color:black;">
                                                                        <p><b>Los Angeles Clippers</b></p>
                                                                    </a>
                                                                    <p>PACIFIC</p>
                                                                </div>
                                                            </div>

                                                            <!-- Kings -->
                                                            <div class="w3-third w3-container w3-margin-bottom">
                                                                <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="18">
                                                                    <img src="~/Kings.png" alt="Kings" style="width:100%" class="w3-hover-opacity">
                                                                    </a>
                                                                    <div class="w3-container w3-white">
                                                                        <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="18" style="text-decoration:none; color:black;">
                                                                            <p><b>Sacramento Kings</b></p>
                                                                        </a>
                                                                        <p>PACIFIC</p>
                                                                    </div>
                                                                </div>

                                                                <!-- Suns -->
                                                                <div class="w3-third w3-container w3-margin-bottom">
                                                                    <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="19">
                                                                        <img src="~/Suns.png" alt="Suns" style="width:100%" class="w3-hover-opacity">
                                                                        </a>
                                                                        <div class="w3-container w3-white">
                                                                            <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="19" style="text-decoration:none; color:black;">
                                                                                <p><b>Phoenix Suns</b></p>
                                                                            </a>
                                                                            <p>PACIFIC</p>
                                                                        </div>
                                                                    </div>

                                                                </div>

                                                                <div class="w3-row-padding">

                                                                    <!-- Lakers -->
                                                                    <div class="w3-third w3-container w3-margin-bottom">
                                                                        <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="20">
                                                                            <img src="~/lakers.png" alt="Lakers" style="width:100%" class="w3-hover-opacity">
                                                                            </a>
                                                                            <div class="w3-container w3-white">
                                                                                <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="20" style="text-decoration:none; color:black;">
                                                                                    <p><b>Los Angeles Lakers</b></p>
                                                                                </a>
                                                                                <p>PACIFIC</p>
                                                                            </div>
                                                                        </div>

                                                                        <!-- Spurs -->
                                                                        <div class="w3-third w3-container w3-margin-bottom">
                                                                            <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="21">
                                                                                <img src="~/Spurs.png" alt="Spurs" style="width:100%" class="w3-hover-opacity">
                                                                                </a>
                                                                                <div class="w3-container w3-white">
                                                                                    <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="21" style="text-decoration:none; color:black;">
                                                                                        <p><b>San Antonio Spurs</b></p>
                                                                                    </a>
                                                                                    <p>SOUTHWEST</p>
                                                                                </div>
                                                                            </div>

                                                                            <!-- Grizzlies -->
                                                                            <div class="w3-third w3-container w3-margin-bottom">
                                                                                <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="22">
                                                                                    <img src="~/Grizzlies.png" alt="Grizzlies" style="width:100%" class="w3-hover-opacity">
                                                                                    </a>
                                                                                    <div class="w3-container w3-white">
                                                                                        <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="22" style="text-decoration:none; color:black;">
                                                                                            <p><b>Memphis Grizzlies</b></p>
                                                                                        </a>
                                                                                        <p>SOUTHWEST</p>
                                                                                    </div>
                                                                                </div>

                                                                            </div>                             <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="22">
                                            <img src="~/Grizzlies.png" alt="Grizzlies" style="width:100%" class="w3-hover-opacity">
                                            </a>
                                            <div class="w3-container w3-white">
                                                <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="22" style="text-decoration:none; color:black;">
                                                    <p><b>Memphis Grizzlies</b></p>
                                                </a>
                                                <p>SOUTHWEST</p>
                                            </div>
                                        </div>
                                    </div>