<!-- PAGE 7 -->

<div class="w3-row-padding">

    <!-- Rockets -->
    <div class="w3-third w3-container w3-margin-bottom">
        <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="23">
            <img src="~/Rockets.png" alt="Rockets" style="width:100%" class="w3-hover-opacity">
            </a>
            <div class="w3-container w3-white">
                <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="23" style="text-decoration:none; color:black;">
                    <p><b>Houston Rockets</b></p>
                </a>
                <p>SOUTHWEST</p>
            </div>
        </div>

        <!-- Mavericks -->
        <div class="w3-third w3-container w3-margin-bottom">
            <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="24">
                <img src="~/Mavericks.png" alt="Mavericks" style="width:100%" class="w3-hover-opacity">
                </a>
                <div class="w3-container w3-white">
                    <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="24" style="text-decoration:none; color:black;">
                        <p><b>Dallas Mavericks</b></p>
                    </a>
                    <p>SOUTHWEST</p>
                </div>
            </div>

            <!-- Pelicans -->
            <div class="w3-third w3-container w3-margin-bottom">
                <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="25">
                    <img src="~/Pelicans.png" alt="Pelicans" style="width:100%" class="w3-hover-opacity">
                    </a>
                    <div class="w3-container w3-white">
                        <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="25" style="text-decoration:none; color:black;">
                            <p><b>New Orleans Pelicans</b></p>
                        </a>
                        <p>SOUTHWEST</p>
                    </div>
                </div>

            </div>

            <div class="w3-row-padding">

                <!-- Jazz -->
                <div class="w3-third w3-container w3-margin-bottom">
                    <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="26">
                        <img src="~/Jazz.png" alt="Jazz" style="width:100%" class="w3-hover-opacity">
                        </a>
                        <div class="w3-container w3-white">
                            <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="26" style="text-decoration:none; color:black;">
                                <p><b>Utah Jazz</b></p>
                            </a>
                            <p>NORTHWEST</p>
                        </div>
                    </div>

                    <!-- Thunder -->
                    <div class="w3-third w3-container w3-margin-bottom">
                        <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="27">
                            <img src="~/Thunder.png" alt="Thunder" style="width:100%" class="w3-hover-opacity">
                            </a>
                            <div class="w3-container w3-white">
                                <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="27" style="text-decoration:none; color:black;">
                                    <p><b>Oklahoma City Thunder</b></p>
                                </a>
                                <p>NORTHWEST</p>
                            </div>
                        </div>

                        <!-- Timberwolves -->
                        <div class="w3-third w3-container w3-margin-bottom">
                            <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="28">
                                <img src="~/Timberwolves.png" alt="Timberwolves" style="width:100%" class="w3-hover-opacity">
                                </a>
                                <div class="w3-container w3-white">
                                    <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="28" style="text-decoration:none; color:black;">
                                        <p><b>Minnesota Timberwolves</b></p>
                                    </a>
                                    <p>NORTHWEST</p>
                                </div>
                            </div>

                        </div>

                        <div class="w3-row-padding">

                            <!-- Nuggets -->
                            <div class="w3-third w3-container w3-margin-bottom">
                                <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="29">
                                    <img src="~/Nuggets.png" alt="Nuggets" style="width:100%" class="w3-hover-opacity">
                                    </a>
                                    <div class="w3-container w3-white">
                                        <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="29" style="text-decoration:none; color:black;">
                                            <p><b>Denver Nuggets</b></p>
                                        </a>
                                        <p>NORTHWEST</p>
                                    </div>
                                </div>

                                <!-- Trailblazers -->
                                <div class="w3-third w3-container w3-margin-bottom">
                                    <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="30">
                                        <img src="~/Trailblazers.png" alt="Trailblazers" style="width:100%" class="w3-hover-opacity">
                                        </a>
                                        <div class="w3-container w3-white">
                                            <a asp-controller="Test" asp-action="TeamPlayers" asp-route-id="30" style="text-decoration:none; color:black;">
                                                <p><b>Portland Trailblazers</b></p>
                                            </a>
                                            <p>NORTHWEST</p>
                                        </div>
                                    </div>

                                </div>